<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BankAccountEntities" connectionString="metadata=res://*/DBModel.BankAccountDbModel.csdl|res://*/DBModel.BankAccountDbModel.ssdl|res://*/DBModel.BankAccountDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BankAccount;persist security info=True;user id=sa;password=Putosql666+;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>